body{
    margin: 1.5rem;
}
body[data-scroll=false]{
    overflow: hidden;
}
h1 {
    margin-bottom: 40px;
}

button{
    min-width: 60px;
    padding: 7px;
    border-radius: 20px;
    border: solid 1px rgba(0, 150, 0, 0.2);
    background: rgba(0, 150, 0, 0.1);
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
}
button:hover{
    border: solid 1px rgba(0, 150, 0, 0.25);
    background: rgba(0, 150, 0, 0.15);
    color: rgba(0, 0, 0, 0.75);
}
button:active{
    border: solid 1px rgba(0, 150, 0, 0.3);
    background: rgba(0, 150, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
}


.survey{
    margin-top: 30px;
    padding-left: 1rem;
}
.survey-item{
    padding-bottom: 20px;
    /*border-bottom: dashed 1px rgba(0, 0, 0, 0.2);*/
}
.question{
    margin-bottom: 10px;
    font-size: 1rem;
}
.inputs{
}
.inputs label {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 14px;
}
.inputs input{
    margin-right: 7px;
}
.submitButton{
    width: 100%;
    margin: 1rem 0;
}

.backdrop{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0, 0, 0, 0.8);
}
.backdrop[data-hidden=true]{
    display: none;
}

.result{
    overflow: auto;
    position: fixed;
    top: 0; right: 0; bottom: 0;
    width: 90%;
    box-sizing: border-box;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.9);
}
.result[data-hidden=true]{
    display: none;
}
.result h2{
    margin-top: 0;
}
.result h3{
    margin: 30px 0;
}
.result h3 span{
    font-size: 1rem;
}
.result .title{
    margin: 30px 0 10px;
}
.myPoint{
    padding: 10px 10px 5px;
    border-bottom: 1px solid rgba(0, 125, 0, 0.3);
    background: rgba(0, 125, 0, 0.1);
    font-size: 1rem;
    clor: rgba(0, 0, 0, 0.8);
}
.myPoint .__point{
    font-size: 1.2rem;
    color: rgba(0, 150, 0, 0.9);
}
.section:not(:nth-of-type(1)){
    margin-top: 30px;
}

.closeButton{
    font-size: 14px;
}
/*.closeButton{
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    border: solid 1px rgba(0, 0, 0, 0.05);
}*/